HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
/gradle/wrapper/gradle-wrapper.jar

### Env ###
/src/main/resources/keys/
.env

### Docs ###
/docs/auth/

### Claude ###
/.claude/
/.omc/

### Etc ###
/src/main/resources/data/community_sample.sql
/docs/mobile/social-login-api.md
/.codex

### omc ###
/docs/policy/.omc/
/src/main/resources/templates/legal/.omc/
/src/main/resources/static/css/.omc/
/docs/policy/.omc/
/src/main/resources/templates/legal/.omc/
/src/main/resources/templates/.omc/
/src/main/resources/templates/bible/.omc/
/src/main/resources/static/js/community/.omc/
/src/main/resources/static/js/.omc/state/agent-replay-b54b24dd-401c-42be-8ccb-77e841b2d3e8.jsonl
/src/main/resources/static/js/.omc/state/subagent-tracking.json
/src/main/resources/.omc/state/agent-replay-b54b24dd-401c-42be-8ccb-77e841b2d3e8.jsonl
/src/main/resources/.omc/state/subagent-tracking.json
/src/main/resources/static/js/.omc/state/mission-state.json
