<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<footer th:fragment="footer" class="site-footer">
    <div class="container">
        <div class="row gy-3 align-items-start">
            <div class="col-12 col-md-3">
                <div class="footer-brand">
                    <img class="footer-brand-logo" src="/images/elseeker.png" th:src="@{/images/elseeker.png}" alt="ElSeeker">
                </div>
                <div class="footer-social">
                    <a href="mailto:dktmrorl@gmail.com" aria-label="ElSeeker Email">
                        <svg class="social-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M20 6H4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2zm0 2-8 5L4 8h16zm0 8H4V9l8 5 8-5v7z"/>
                        </svg>
                        <span class="visually-hidden">Email</span>
                    </a>
                    <a href="https://www.youtube.com/@seek539" aria-label="ElSeeker Youtube">
                        <svg class="social-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M21.6 7.2a3 3 0 0 0-2.12-2.12C17.6 4.5 12 4.5 12 4.5s-5.6 0-7.48.58A3 3 0 0 0 2.4 7.2 31.3 31.3 0 0 0 2 12a31.3 31.3 0 0 0 .4 4.8 3 3 0 0 0 2.12 2.12C6.4 19.5 12 19.5 12 19.5s5.6 0 7.48-.58a3 3 0 0 0 2.12-2.12A31.3 31.3 0 0 0 22 12a31.3 31.3 0 0 0-.4-4.8zM10 15.5v-7l6 3.5-6 3.5z"/>
                        </svg>
                        <span class="visually-hidden">Youtube</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="footer-links">
                    <a href="#">소개</a>
                    <a href="/web/legal/terms">서비스 이용약관</a>
                    <a href="/web/legal/privacy">개인정보처리방침</a>
                </div>
                <div class="footer-meta">상호명: ElSeeker | 대표명: 안인식</div>
                <div class="footer-meta">주소: 인천 서구 한들로 73 (22687)</div>
                <div class="footer-meta">고객센터: dktmrorl@gmail.com</div>
                <div class="footer-copy">© 2026 ElSeeker. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
