<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>책 목록</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .clickable-row:hover {
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="container">
  <a class="btn btn-secondary mt-3 mb-3" th:href="@{/web/bibles/translations}">번역본 선택하기</a>
  <h1 class="mt-2">책 목록</h1>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>책 이름</th>
      <th>약어</th>
      <th>구약/신약</th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable-row"
        th:data-book-id="${book.bookId}"
        th:data-translation-id="${translationId}"
        th:each="book : ${books}">
      <td th:text="${book.bookId}"></td>
      <td th:text="${book.bookName}"></td>
      <td th:text="${book.abbreviation}"></td>
      <td th:text="${book.testamentType}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            let translationId = $(this).attr("data-translation-id");
            let bookId = $(this).attr("data-book-id");

            // 장(Chapter) 목록 페이지로 이동
            window.location.href = `/web/bibles/translations/${translationId}/books/${bookId}/chapters`;
        });
    });
</script>
</body>
</html>
