<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>장 목록</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .clickable-row:hover {
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="container">
  <a class="btn btn-secondary mt-3 mb-3"
     th:href="@{/web/bibles/translations/{translationId}/books(translationId=${translationId})}">
    책 선택하기
  </a>
  <h1 class="mt-2">장 목록</h1>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>장</th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable-row"
        th:data-book-id="${bookId}"
        th:data-chapter-id="${chapter.chapterId}"
        th:data-translation-id="${translationId}"
        th:each="chapter : ${chapters}">
      <td th:text="${chapter.chapterId}"></td>
      <td th:text="${chapter.chapterNumber}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            let translationId = $(this).attr("data-translation-id");
            let bookId = $(this).attr("data-book-id");
            let chapterId = $(this).attr("data-chapter-id");

            // 절(Verse) 목록 페이지로 이동
            window.location.href = `/web/bibles/translations/${translationId}/books/${bookId}/chapters/${chapterId}/verses`;
        });
    });
</script>
</body>
</html>
