<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>성경 번역본 목록</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 class="mt-4">성경 번역본</h1>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>번역 타입</th>
      <th>이름</th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable-row"
        th:data-translation-id="${translation.translationId}"
        th:each="translation : ${translations}">
      <td th:text="${translation.translationType}"></td>
      <td th:text="${translation.translationName}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            let translationId = $(this).attr("data-translation-id");

            // 책(Book) 목록 페이지로 이동
            window.location.href = `/web/bibles/translations/${translationId}/books`;
        });
    });
</script>
</body>
</html>
