<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>절 목록</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <a class="btn btn-secondary mt-3 mb-3"
     th:href="@{/web/bibles/translations/{translationId}/books/{bookId}/chapters(translationId=${translationId}, bookId=${bookId})}">
    장 선택하기
  </a>
  <h1 class="mt-2">절 목록</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>절</th>
      <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="verse : ${verses}">
      <td th:text="${verse.verseNumber}"></td>
      <td th:text="${verse.text}"></td>
    </tr>
    </tbody>
  </table>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
